.card-container {
    margin: 0 auto;
    padding: 16px 0;
    width: 500px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.card {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 4px solid #fff;
    border-radius: 16px;
    background-color: #edc3ac;
    color: #5b201f;
    font-weight: 700;
}

.card:hover {
    cursor: pointer;
    background-color: #ec3a40; 
    color: #fff;
}

.card span {
    font-size: 1.9rem;
}