.card-container {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    padding: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
}

.card:hover {
    cursor: pointer;
    background-color: #fff;
    color: #131313;
    transform: scale(1.03);
}

.card span {
    font-size: 2.1rem;
}