.flashcard > img {
    width: 500px;
    max-width: 90%;
    object-fit: cover;
    border: 8px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.flashcard > p {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 500;
}